/*****************************************
GENERAL
******************************************/
/* structures documents */
body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper{
	max-width: 940px; 
	/* want the width to be no larger than 940px */
	margin: 0 auto; 
	/* margin adjusts space OUTSIDE of the element
	- center a wrapper element inside the browser window
	spacing around for element; "0" sets margin for top and bottom of element, "auto" fills in space left and right side of the margin */
	padding: 0 5%;
	/* padding adjusts space INSIDE of the element */
}

/* links are green, removes underline */
a {
	text-decoration: none; /* removes underline in links */
}

img {
	max-width: 100%; /* allows all images to fill their parent element */
}

/*****************************************
HEADING
*****************************************/

header {
	float: left;
	margin: 0 0 30px 0; /* top, right, bottom, left */
	padding: 5px 0 0 0; 
	width: 100%;

}

/* centers logo */
#logo {
	text-align: center;
	margin: 0;
	/* 0 will apply top, bottom, left and right */
}

h1 {
	font-family:'Raleway', sans-serif;
	margin: 15px 0;
	font-size: 1.75em; /* "em": relative unit of measurement */
	font-weight: normal; /* unbolds headline */
	line-height: 0.8em; /* determines amount of space btwn each line of text */
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0; /* third value sets bottom, makes elements "tighter" together */
	font-weight: normal;
}


/*****************************************
NAVIGATION
*****************************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/*****************************************
FOOTER
*****************************************/
footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px; /* sets padding ONLY at top */
	color: #ccc; 

}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

/*****************************************
PAGE PORTFOLIO
*****************************************/
#gallery {
	margin: 0;
	padding: 0;
	list-style: none; /* removes bullet points */
}

#gallery li {
	float: left; /* allows us to position elements */
	width: 45%; /* regardless size of web browser, takes up only 45% of width */
	margin: 2.5%;
	background-color: #f5f5f5; /* bg color of captions */
	color: #bdc3c7;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}
/*****************************************
COLORS
*****************************************/

/* site body */
body {
	background-color: #fff;
	color: #999;
}

/* green header */
header {
	background: #6ab47b;
	border-color: #599a68;
}

/* nav bg on mobile devices */
nav {
	background: #599a68;
}

/* header text is white */
h1, h2 {
	color: #fff;
}

a {
	color: #6ab47b;
}

/* links that are visted turn white */
nav a, nav a:visited {
	color: #fff;

}

/* link that is currently selected and links that are cursor is hovered over is dark green */
nav a.selected, nav a:hover {
	color: #32673f;
}

